@import url('https://fonts.googleapis.com/css?family=Lato');

#app {
  font-family: 'Lato', sans-serif;
}

.background {
  padding-top: 15px;
  height:98vh;
  margin: -2% -1% -1% -1%;
  background-color: #E5E4E2;
}

.chat-col-left {
  vertical-align: top;
  display:inline-block;
  width: 40%;
}

.chat-col-right {
  vertical-align: top;
  display:inline-block;
  width: 60%;
}

.title {
  text-align: center;
  font-size: 44px;
  color: #0020C2;
  font-weight: bold;
  line-height: .1em;
}

.results-title {
  color: #737CA1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
}

.chat-container {
  height: 85vh;
  margin: -5px 4px 0 15px;
  padding: 4px;
}

.result-container {
  height: 85vh;
  margin: -5px 15px 0 4px;
  padding: 4px;
}

#chat-background {
  height: 340px;
  margin-bottom: 0;
  padding-bottom: 5%;
  background-color: #C6DEFF;
  margin-top: -5%;
  border-radius: 30px 30px 0 0;
}

#result-background {
  height: 74vh;
  background-color: white;
}

.result-list {
  height: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.chat {
  height: 100%;
  overflow-y: auto;
  margin-top: 10%;
  padding-top: 5%;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

#statement-by-me {
  background-color: white !important;
  color: black !important;
}

#statement-by-watson {
  background-color: #B8FCFC !important;
  color: black !important;
}

.statement-bubble {
  margin: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 30px !important;
}

.input-container {
  height: 60px;
  padding: 3%;
  text-align : left;
  background-color: #FBF6D9;
  z-index: 1;
  border-radius: 0 0 30px 30px;
}

.submit-button-container {
  margin-top: -13%;
  margin-right: 5%;
  text-align: right;
}
.submit-button {
  background-color: #7BCCB5 !important;
  border-radius: 8px !important;
  color: white !important;
  text-align: center;
  z-index: 2;
}

.submit-button:hover {
  background-color: #3EA99F !important;
}


