@import url('https://fonts.googleapis.com/css?family=Lato');

#app {
  font-family: 'Lato', sans-serif;
}

.background {
  height: 650px;
  margin: -2% -1% -1% -1%;
  background-color: #98AFC7
}

.chat-col-left {
  vertical-align: top;
  display:inline-block;
  width: 40%;
}

.chat-col-right {
  vertical-align: top;
  display:inline-block;
  width: 60%;
}

.title {
  text-align: center;
  font-size: 44px;
  color: #f46b22;
  font-weight: bold;
}

.chat-container {
  height: 520px;
  margin: 4px;
  padding: 4px;
  background-color: aqua;
  border-radius: 30px;
}

.result-container {
  height: 520px;
  margin: 4px;
  padding: 4px;
  background-color: aqua;
  border-radius: 30px;
}

#chat-background {
  height: 340px;
  margin-bottom: 0;
  padding-bottom: 5%;
  background-color: white;
  margin-top: -4%;
}

#result-background {
  height: 500px;
  margin-bottom: 0;
  padding-bottom: 5%;
  background-color: white;
}

.chat {
  height: 100%;
  overflow-y: auto;
  margin-top: 10%;
  padding-top: 5%;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

#statement-by-me {
  background-color: #3BB9FF !important;
  color: white !important;
}

#statement-by-watson {
  background-color: #B8FCFC !important;
  color: black !important;
}

.statement-bubble {
  margin: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 30px !important;
}

.input-container {
  height: 60px;
  padding: 3%;
  text-align : left;
  background-color: #FBF6D9;
  z-index: 1;
}

.submit-button-container {
  margin-top: -13%;
  margin-right: 5%;
  text-align: right;
}
.submit-button {
  background-color: #f46b22 !important;
  border-radius: 8px !important;
  color: white !important;
  text-align: center;
  z-index: 2;
}

.submit-button:hover {
  background-color: #dc5406 !important;
}


